* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B91450;
}

main {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h2 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

label {
  font-size: 22px;
  color :#B91450;
  font-weight: 700;
}

input,
select {
  font-size: 22px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 10px;
  border: 1px solid #B91450;
  padding: 1rem;
}

input:hover,
select:hover {
  border: 1px solid #ccc;
}

input:focus,
select:focus {
  outline: none;
}
/* UTILITY */
.nascosto {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.mb2rem {
  margin-bottom: 2rem;
}

.mb1rem {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

/* MAIN */
.contenitore {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1rem;
}
/* SEZIONE INSERISCI I DATI */
.box-input {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

.input {
  width: 30%;
}
/* BOTTONI */
#genera,
#annulla {
  color: #B91450;
  background-color: #ccc;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
  transition: background-color , 0.4s;
}

#genera:hover,
#annulla:hover {
  background-color: #eee;
  cursor: pointer;
}

#genera:focus,
#annulla:focus {
  outline: none;
}

/* SEZIONE STAMPA BIGLIETTO */
.box-biglietto {
  background-color: #fff;
  padding: 1rem;
}

.contenitore .box-biglietto h3 {
  text-align: left;
  margin-bottom: 1rem;
}

.box-biglietto table {
  width: 100%;
  text-align: left;
}

.box-biglietto table tr:first-child th:first-child,
.box-biglietto table tr:last-child td:first-child {
  background-color: #ccc;
}

.box-biglietto td {
  padding-top: 30px;
}
